

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Jersey 10", sans-serif;
}
body{
    flex-direction: column;
}
.principal{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.pregunta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin: 25px;
    width: 100%;
    color: beige;
}

.boton{
    width: 80px;
    height: 30px;
    margin: 20px;
    background-color: rgb(20, 0, 94);
    color: white;
}
.boton:hover{
    background-color: rgb(207, 20, 20);
}
.boton.yo:hover{
    background-color: rgb(4, 170, 87);
}
#si{
    transform: translate(-100%, 0);
}
#noSe{
    position: absolute;
}